.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'ArchitectsDaughter';
  src: local('ArchitectsDaughter'), url(./fonts/ArchitectsDaughter-Regular.ttf) format('truetype');}

@font-face {
  font-family: 'GochiHand';
  src: local('GochiHand'), url(./fonts/GochiHand-Regular.ttf) format('truetype');}

@font-face {
  font-family: 'Shadows';
  src: local('Shadows'), url(./fonts/ShadowsIntoLight-Regular.ttf) format('truetype');}

body {
  /* background-color: rgb(221, 255, 229); */
  background-color: rgb(7, 0, 27);
  color: white;
}

#welcome {
  margin-top: .2em;
  text-align: center;
  /* font-family: 'ArchitectsDaughter'; */
  font-family: GochiHand;
  font-size: 6em;
  
}

#welcome2 {
  margin-top: .2em;
  margin-bottom: 0;
  text-align: center;
  font-family: GochiHand;
  font-size: 6em;
  
}

/* #welcomeButton {
  margin: 1em;
}

#logoutButton {
  margin: 1em;
}

#loginButton {

} */

#welcomeDiv {
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}

#buttonDiv {
  text-align: center;
  margin-top: .5em;
  margin-bottom: .5em;
}


#carousel {
  float: initial;
  max-width: 55%;
  margin: 0 auto;
  margin-top: 1em;
  box-shadow: 5px 5px;

}

#accordion-container {
  margin-top: 0;
  text-align: center;
}

#accordion {

  margin: 0 auto;
  max-width: 40%;
}

#accordionBackground {
  background-color: rgb(241, 242, 250);
  color:black;
  
}

#favRecipe {
  margin-top: .5em;
  font-size: 4em;
  text-align: center;
  /* font-family: 'GochiHand'; */
  font-family: 'Shadows';

}

#welcomeMessage {
  text-align: center;
  font-size: 2em;
  font-family: 'ArchitectsDaughter';
}
/* #accordionDropDown {
  background-color: yellow;
} */

#my-recipes-header {
  text-align: center;
  margin-bottom: 3em;

}

#card {
  color: black;
  text-align: center;
}

#card-title {
  color: black;
  font-size: 1.5em;
}

#allcards {
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

#modal-image {
  margin: 0 auto;
}

#my-recipes-button {
  margin-right: 1em;
}

#modal {
  text-align: center;
}